<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Reglages">
		<title>Réglage TI Bottom Camera</title>
		<size>647,926</size>
		<id_arg>0</id_arg>
		<style>wxSTAY_ON_TOP|wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<handler function="OnPaint" entry="EVT_PAINT" />
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<object class="wxBoxSizer" variable="BoxSizer1" member="no">
				<orient>wxVERTICAL</orient>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer2" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER1" variable="Slider1" member="yes">
								<min>150</min>
								<max>255</max>
								<size>200,-1</size>
								<handler function="OnSlider1CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer3" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER2" variable="Slider2" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider2CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer4" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER3" variable="Slider3" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider3CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer5" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER4" variable="Slider4" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider4CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer6" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER5" variable="Slider5" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider5CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer7" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER6" variable="Slider6" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider6CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer8" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText13" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText14" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER7" variable="Slider7" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider7CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer9" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText15" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER8" variable="Slider8" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider8CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer10" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticText17" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticText18" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER9" variable="Slider9" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider9CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer11" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT19" variable="StaticText19" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT20" variable="StaticText20" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER10" variable="Slider10" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider10CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer12" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT21" variable="StaticText21" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT22" variable="StaticText22" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER11" variable="Slider11" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider11CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer13" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT23" variable="StaticText23" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT24" variable="StaticText24" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER12" variable="Slider12" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider12CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer14" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT25" variable="StaticText25" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT26" variable="StaticText26" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER13" variable="Slider13" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider13CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer16" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT28" variable="StaticText27" member="yes">
								<label>Label</label>
								<size>150,-1</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT27" variable="StaticText28" member="yes">
								<label>Label</label>
								<style>wxALIGN_RIGHT</style>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER14" variable="Slider14" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider14CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer17" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT29" variable="StaticText29" member="yes">
								<label>Label</label>
								<size>204,21</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT30" variable="StaticText30" member="yes">
								<label>Label</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER15" variable="Slider15" member="yes">
								<size>200,-1</size>
								<handler function="OnSlider15CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer18" member="no">
						<object class="sizeritem">
							<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
								<size>71,4</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT31" variable="StaticText31" member="yes">
								<label>Réglages Windows Detect</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxStaticLine" name="ID_STATICLINE3" variable="StaticLine3" member="yes">
								<size>71,4</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer19" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT32" variable="StaticText32" member="yes">
								<label>Label</label>
								<size>172,21</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT33" variable="StaticText33" member="yes">
								<label>Label</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER16" variable="Slider16" member="yes">
								<size>227,28</size>
								<handler function="OnSlider16CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer20" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT34" variable="StaticText34" member="yes">
								<label>Label</label>
								<size>159,21</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT35" variable="StaticText35" member="yes">
								<label>Label</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER17" variable="Slider17" member="yes">
								<max>500</max>
								<size>235,28</size>
								<handler function="OnSlider17CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer21" member="no">
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT36" variable="StaticText36" member="yes">
								<label>Label</label>
								<size>156,21</size>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
						<object class="sizeritem">
							<object class="wxStaticText" name="ID_STATICTEXT37" variable="StaticText37" member="yes">
								<label>Label</label>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxSlider" name="ID_SLIDER18" variable="Slider18" member="yes">
								<max>500</max>
								<size>239,28</size>
								<handler function="OnSlider18CmdScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
					<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
					<border>5</border>
					<option>1</option>
				</object>
				<object class="sizeritem">
					<object class="wxBoxSizer" variable="BoxSizer15" member="no">
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
								<label>Close</label>
								<handler function="OnButton1Click" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
						</object>
					</object>
					<flag>wxALL</flag>
					<option>1</option>
				</object>
			</object>
		</object>
	</object>
</wxsmith>
